@font-face {
   src: url('../fonts/Heebo-Regular.ttf');
}
@font-face {
   src: url('../fonts/Rubik-SemiBold.ttf');
}


Text,.normalText {
    -fx-font-size: 18px;
    -fx-font-family: "Heebo", sans-serif;
    -fx-fill: #D9D9D9;
}
Button {
    -fx-background-color: #333F50;
    -fx-effect:dropshadow(three-pass-box, #222A35, 0, 0, 0, 5px);
    -fx-translate-y:0;
    -fx-margin:0 0 10px 0;
    -fx-text-fill: #D9D9D9;
}
Button:armed {
    -fx-effect:none !important;
    -fx-translate-y:5px !important;
}
ScrollPane {
   -fx-background:transparent;
   -fx-background-color:transparent;
   -fx-border-color:transparent;
}

.color-water, .color-water * {
    -fx-fill: #67a9fe;
}
.color-metal, .color-metal * {
    -fx-fill: #ff6666;
}
.color-seeds, .color-seeds * {
    -fx-fill: #6aff94;
}
.color-energy, .color-energy * {
    -fx-fill: #a17af4;
}
.color-void, .color-void * {
    -fx-fill: #D9D9D9;
}
.faded {
    -fx-opacity: 0.6;
}
.header {
    -fx-font-size: 25px;
    -fx-font-family: 'Rubik SemiBold', sans-serif;
    -fx-font-weight: bold;
}
.smallHeader {
    -fx-font-size: 22px;
    -fx-font-family: 'Rubik SemiBold', sans-serif;
    -fx-font-weight: bold;
}
.tinyHeader {
    -fx-font-family: 'Rubik SemiBold', sans-serif;
    -fx-font-weight: bold;
}
.bg-glass {
    -fx-background-image:url("..img/glass.png");
}
.bg-darkNormal {
    -fx-background-color: #0E1118;
}
.buttonRed {
    -fx-background-color: #B7544B;
    -fx-effect:dropshadow(three-pass-box, #542522, 0, 0, 0, 5px);
}





